
.li, p, a{
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 69, 69);
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 5%;

}
.pageTitle{
    display: flex;
    width: 20%;
}
.logo {
    object-fit: contain;
    height: 60px;
    width: 280px;
    display: flex;
}
.li{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    padding: 20px;
    border: rgb(48, 35, 35) solid 1px;
}
.li:hover {
    color: white;
    background-color: rgb(235, 117, 38);
    border-color: rgb(235, 117, 38);
}
.helpBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navBarElements{
    display: flex;
    background-color: rgb(94, 69, 69);
    justify-content: start;
    align-items: center;
    padding: 0% 5% 0% 5%;
}
.underBar{
    height: 5px;
    width:100%;
    background-color: rgb(235, 117, 38);
}
.section-related{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}
.brand-image{
    height: 150px;
    width: auto;
}


.related-products{
        font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 75%;
    flex-direction: column;
    padding: 2% 2% 2% 5%;
}
.related-title{
    display: flex;
    width: 100%;
}
.boxRelated{
    display: flex;
    flex-direction: row;
}
.related-brands{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2% 5% 2% 2%;
}
.main-section{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 2% 5% 2% 5%;
    background-color: lavender;
}
.categories {
    display: flex;
    flex-direction: column;
    width: 27%;
}
.category{
    border: solid 1px grey;
    margin-bottom: 2%;
    padding: 2%;
    background-color: whitesmoke;
    color: black;
}
.articles{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 73%;
    padding-left: 2%;
}
.main-products {
    width: 100%;
    padding: 2%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2%;

}
.related-product-section{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.products{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 180px;
    min-height: 220px;
    padding: 0% 2% 2% 2%;
    margin-bottom: 2%;
    border: solid 1px grey;
    background-color: whitesmoke;
}
.image_wrap{
    display: flex;
    justify-content: center;
    
}
.product-related-image{
    height: 150px;
    width: 150px;
}
.product-image{
    height: 100px;
    width: 100px;
}
.button-section{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.pagination-bar{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2% 0% 2% 0%;
}
.page-number{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    padding: 1% 2%;
    background-color: whitesmoke;
    border: solid 1px grey;
    margin-right: 1%;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}
.footer-item{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
